* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 14px;
    letter-spacing: 1.5px;
    min-height: 0;
    font-weight: 600;
}

window#waybar {
    background: rgba(0, 0, 0, 1.0);
    border-bottom: 2px solid #0d941b;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background-color: transparent;
}

#window {
    margin: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    border-top: 2px solid #f50707;
}

#workspaces button {
    padding: 0 6px;
    background: transparent;
    color: #ffffff; 
}

#workspaces button.focused {
    color: #f50707;
    border-top: 2px solid #c9545d;
}

#workspaces button.active {
    color: #f50707;
    background-color: transparent;
    border-bottom: 2px solid #f50707; 
}

#workspaces button.urgent {
    background-color: #f50707;
}

#cpu,
#memory {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #0e0c1c;
    color: #00e1ff;
}
#network {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #0e0c1c;
    color: #00e1ff;
}
#pulseaudio {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #0e0c1c;
    color: #91ff00;
}
#tray,
#clock {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: #02f5a5;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    font-size: 14px;
}

#network,   
#custom-warp {
    padding: 0;
    min-width: 14px;
    min-height: 14px;
    font-size: 1px;
    border-radius: 50%;
    border:  2px solid #26292b;
    margin: 8px 10px 8px 1px; 
    color: transparent;
    background-color: #2ecc71;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-warp.disconnected {
    background-color: #f53c3c;
}

#custom-power {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #d6b80f;
}

#custom-power:hover {
    background: inherit;
    background-color: #027060;
}

/*
#custom-internet_label,
#custom-warp_label {
    color: #ffffff;
    font-size: 16px;
    margin-right: 0px;
}
*/
